<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
  <add name="DataConnection" connectionString="data source=jccummin-assignnment3-comp1098.database.windows.net;initial catalog=jccumminassignment3Comp1098;persist security info=True;user id=jccummin;password=Think777;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>